{
  "name": "software-facturacion",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "scss/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "pug/nota-credito.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"nota-credito.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/factura.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"factura.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/boleta.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"boleta.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/nota-debito.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"nota-debito.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/login.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"login.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/perfil.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"perfil.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/productos-servicios.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"productos-servicios.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/historial-emisiones.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"historial-emisiones.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "README.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":false}}"
    },
    {
      "path": "js/main.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "pug/factura-generada.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"factura-generada.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/resumen-emisiones.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"resumen-emisiones.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "pug/template/config",
      "pug/template/layout",
      "pug/template/modules",
      "html",
      "js",
      "pug"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "pug/boleta.pug",
      "imports": [
        "pug/template/config/main-layout.pug",
        "pug/template/config/config.pug",
        "pug/template/layout/header.pug",
        "pug/template/modules/client-bar.pug",
        "pug/template/layout/nav.pug"
      ]
    },
    {
      "path": "pug/factura-generada.pug",
      "imports": [
        "pug/template/config/main-layout.pug",
        "pug/template/config/config.pug",
        "pug/template/layout/header.pug",
        "pug/template/modules/client-bar.pug",
        "pug/template/layout/nav.pug"
      ]
    },
    {
      "path": "pug/factura.pug",
      "imports": [
        "pug/template/config/main-layout.pug",
        "pug/template/config/config.pug",
        "pug/template/layout/header.pug",
        "pug/template/modules/client-bar.pug",
        "pug/template/layout/nav.pug"
      ]
    },
    {
      "path": "pug/index.pug",
      "imports": [
        "pug/template/config/main-layout.pug",
        "pug/template/config/config.pug",
        "pug/template/layout/header.pug",
        "pug/template/modules/client-bar.pug",
        "pug/template/layout/nav.pug"
      ]
    },
    {
      "path": "pug/login.pug",
      "imports": [
        "pug/template/config/main-layout.pug",
        "pug/template/config/config.pug",
        "pug/template/layout/header.pug",
        "pug/template/modules/client-bar.pug",
        "pug/template/layout/nav.pug"
      ]
    },
    {
      "path": "pug/nota-credito.pug",
      "imports": [
        "pug/template/config/main-layout.pug",
        "pug/template/config/config.pug",
        "pug/template/layout/header.pug",
        "pug/template/modules/client-bar.pug",
        "pug/template/layout/nav.pug"
      ]
    },
    {
      "path": "pug/nota-debito.pug",
      "imports": [
        "pug/template/config/main-layout.pug",
        "pug/template/config/config.pug",
        "pug/template/layout/header.pug",
        "pug/template/modules/client-bar.pug",
        "pug/template/layout/nav.pug"
      ]
    },
    {
      "path": "pug/perfil.pug",
      "imports": [
        "pug/template/config/main-layout.pug",
        "pug/template/config/config.pug",
        "pug/template/layout/header.pug",
        "pug/template/modules/client-bar.pug",
        "pug/template/layout/nav.pug"
      ]
    },
    {
      "path": "scss/main.scss",
      "imports": [
        "scss/vendors/bootstrap-grid.scss",
        "scss/vendors/bootstrap.scss",
        "scss/base/vars.scss",
        "scss/base/reset.scss",
        "scss/base/helpers.scss",
        "scss/base/grid.scss",
        "scss/base/base.scss",
        "scss/layout/header.scss",
        "scss/layout/footer.scss",
        "scss/layout/nav.scss",
        "scss/modules/spans.scss",
        "scss/modules/inputs.scss",
        "scss/modules/select.scss",
        "scss/modules/switch.scss",
        "scss/modules/buttons.scss",
        "scss/modules/tables.scss",
        "scss/modules/spring-responses.scss",
        "scss/modules/sidebar.scss",
        "scss/modules/client-bar.scss",
        "scss/modules/login.scss",
        "scss/modules/main.scss",
        "scss/modules/tab.scss",
        "scss/modules/profile.scss",
        "scss/modules/users.scss",
        "scss/modules/preview.scss",
        "scss/modules/popup.scss",
        "scss/modules/alert.scss",
        "scss/modules/toast.scss",
        "scss/modules/label.scss",
        "scss/modules/links.scss"
      ]
    },
    {
      "path": "pug/template/config/main-layout.pug",
      "imports": [
        "pug/template/config/config.pug",
        "pug/template/layout/header.pug",
        "pug/template/modules/client-bar.pug",
        "pug/template/layout/nav.pug"
      ]
    },
    {
      "path": "pug/template/layout/header.pug",
      "imports": [
        "pug/template/layout/nav.pug"
      ]
    },
    {
      "path": "pug/resumen-emisiones.pug",
      "imports": [
        "pug/template/config/main-layout.pug",
        "pug/template/config/config.pug",
        "pug/template/layout/header.pug",
        "pug/template/modules/client-bar.pug",
        "pug/template/layout/nav.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7886,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}