- var pageTitle = "Sistema de Facturación"
- var currentPage = "dashboard"

//- Menu options
- var menu = []
- menu.push({name: 'Dashboard', singleName: 'dashboard'})
- menu.push({name: 'Factura', singleName: 'factura'})
- menu.push({name: 'Boleta', singleName: 'boleta'})
- menu.push({name: 'Nota de Crédito', singleName: 'nota-credito'})
- menu.push({name: 'Nota de Débito', singleName: 'nota-debito'})

//- Client menu options
- var clientMenu = []
- clientMenu.push({name: 'Mi Perfil', singleName: 'perfil'})
- clientMenu.push({name: 'Mis productos y Servicios', singleName: 'productos-servicios'})
- clientMenu.push({name: 'Resumen de Emisiones', singleName: 'resumen-emisiones'})