block config
    include config

<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= pageTitle
        link(rel="stylesheet", href="./css/main.css")
    if(currentPage === 'login')
        body.body-login
            block content
    else
        body
            .page
                .sidebar
                    include ../layout/header

                main.main__container
                    include ../modules/client-bar
                    .main__content
                        block content
    
    script(src="js/vendors/jquery-3.3.1.min.js")
    script(src="js/vendors/numeroaletras.js")
    script(src="js/main.js")
    block scripts