.client-bar
    .client-bar__info
        .client-bar__name Constructora Aguirre
        img.client-bar__avatar(src="./img/avatar/user.jpg")
        img.client-bar-menu__btn(src="./img/icon/down-arrow.png")