.client-bar
    //- .client-bar__response
    //-     p.client-bar__response-p No se ha detectado conexión a internet. El Software intentará volver a conectarse y envíar tus emisiones automaticante cuando detecte una conexión a internet, se recomienda llenar los campos de forma manual.
    //-     a.client-bar__response-btn(href="#"): img(src="./img/close-response.png")
    .client-bar__info
        .client-bar__name Constructora Aguirre
        img.client-bar__avatar(src="./img/avatar/user.jpg")
        img.client-bar__menu-btn(src="./img/down-arrow.svg")
    
        ul.client-bar__menu
            for clientMenuItem in clientMenu
                li.client-bar__menu-item
                    a.client-bar__menu-link(href=clientMenuItem.singleName + ".html")= clientMenuItem.name
            li.client-bar__menu-item
                a.client-bar__menu-link(href="./login.html") Cerrar Sesión