.client-bar
    .client-bar__info
        .client-bar__name Constructora Aguirre
        img.client-bar__avatar(src="./img/avatar/user.jpg")
        img.client-bar__menu-btn(src="./img/down-arrow.svg")
    
        ul.client-bar__menu
            li.client-bar__menu-item
                a.client-bar__menu-link(href="#") Mi Perfil
            li.client-bar__menu-item
                a.client-bar__menu-link(href="#") Mis productos y Servicios
            li.client-bar__menu-item
                a.client-bar__menu-link(href="#") Historial de Emisiones
            li.client-bar__menu-item
                a.client-bar__menu-link(href="#") Cerrar Sesión