extends ./template/config/main-layout

append config
    -var currentPage = "boleta"

block content
    .tab
        .tab__top
            span.tab__title EMITIR BOLETA ELECTRÓNICA
        .tab__content
            .container-fluid
                .row.mb-1
                    .col-md-2
                        .field__tag Número de documento
                    .col-md-3
                        input.field.bordered.block(type="text")
                    .col-md-3
                        label.field__label.horizontal
                            .field__tag Serie
                            input.field.disabled(type="text", size="3" disabled="disabled", value="F001")
                            | &nbsp;
                            input.field.bordered(type="text", size="12")
                    .col-md-2
                        .field__tag Fecha de vencimiento
                    .col-md-2
                        input.field.bordered(type="date")
                
                .row.mb-1
                    .col-md-2
                        .field__tag Razón social
                    .col-md-3
                        input.field.bordered.block(type="text")
                    .col-md-2.offset-md-3
                        .field__tag Fecha de emisión
                    .col-md-2
                        input.field.bordered(type="date")
                    
                .row
                    .col-md-8
                        .select-field.inline
                            .select-field__selected Tipo de moneda
                            ul.select-field__list
                                li.select-field__item: span.select-field__value Soles (S/.)
                                li.select-field__item: span.select-field__value Dólares ($)
                                li.select-field__item: span.select-field__value Euros (&euro;)
                        
                        .select-field.inline
                            .select-field__selected Tipo de factura
                            ul.select-field__list
                                li.select-field__item: span.select-field__value Bien
                                li.select-field__item: span.select-field__value Servicio
                        
                        .select-field.inline
                            .select-field__selected Establecimiento emisor
                            ul.select-field__list
                                li.select-field__item: span.select-field__value establecimiento 1
                                li.select-field__item: span.select-field__value establecimiento 2
                        
                    .col-md-2.flex-center
                        .field__tag Pagado
                        label.switch
                            input.switch__checkbox(type="checkbox")
                            input(type="hidden")
                            span.slider.round
                    .col-md-2.flex-center
                        .field__tag Detracción
                        label.switch
                            input.switch__checkbox(type="checkbox")
                            input(type="hidden")
                            span.slider.round

    .row.mt-1
        .col-12
            button.btn.alt.float-right.new-product-row
                img.btn__icon(src="./img/buttons/plus-button.svg")
                | Añadir Producto/Servicio

    .tab.mt-1
        .tab__content.tab__content--alternative
            .container-fluid
                .row
                    //- .table-responsive
                    table.table
                        thead
                            tr
                                td: span.field__tag Bien/Servicio
                                td: span.field__tag U. de medida
                                td: span.field__tag Descripción
                                td: span.field__tag Código
                                td: span.field__tag Tipo de IGV
                                td: span.field__tag Valor Unit.
                                td: span.field__tag IGV
                                td: span.field__tag Total
                                td
                        tbody
                        - for(i = 0; i < 3; i++) {
                            tr
                                td: input(type="text").field.default.block
                                td
                                    .select-default.block(data-default="Seleccionar", data-value="")
                                            .select-default__selected
                                            .select-default__list
                                                .select-default__item Kg
                                                .select-default__item Mts
                                td: input(type="text").field.default.block
                                td: input(type="text").field.default.block
                                td
                                    .select-default.block(data-default="Seleccionar", data-value="")
                                            .select-default__selected
                                            .select-default__list
                                                .select-default__item Tipo 1
                                                .select-default__item Tipo 2
                                td: input(type="text").field.default.block
                                td: input(type="text").field.default.block
                                td: input(type="text").field.default.block
                                td: a.delete-product(href="#"): img.delete-product__icon(src="./img/trash.svg", alt="")
                        - }

    .row.mt-3
        .col-md-7
            .tab
                .tab__content.tab__content--alternative
                    .container-fluid
                        .field__label.vertical
                            span.field__tag.mb-1 Añadir Observación
                            textarea.field.default.block.textarea(name="")
            
            .row.mt-3
                .col-12
                    input.btn.bordered(type="submit", value="REGRESAR")
                    | &nbsp;
                    input.btn.bordered(type="submit", value="PREVISUALIZAR")
                    | &nbsp;
                    input.btn.bordered(type="submit", value="GENERAR")
            
        .col-md-3.offset-md-2
            .tab
                .tab__content.tab__content--alternative
                    .container-fluid
                        .row.mtb-1
                            .col-6
                                span.field__tag.normal-w % Descuento
                            .col-6
                                input.field.default.block(type="text")
                        .row.mtb-1
                            .col-6
                                span.field__tag.normal-w Anticipo (-)
                            .col-6
                                input.field.default.small-height.block(type="text")
                        .row.mtb-1
                            .col-6
                                span.field__tag.normal-w Exonerada
                            .col-6
                                input.field.default.small-height.block(type="text")
                        .row.mtb-1
                            .col-6
                                span.field__tag.normal-w Inafecta
                            .col-6
                                input.field.default.small-height.block(type="text")
                        .row.mtb-1
                            .col-6
                                span.field__tag.normal-w Gravada
                            .col-6
                                input.field.default.small-height.block(type="text")
                        .row.mtb-1
                            .col-6
                                span.field__tag.normal-w IGV
                            .col-6
                                input.field.default.small-height.block(type="text")
                        .row.mtb-1
                            .col-6
                                span.field__tag.normal-w Gratuita
                            .col-6
                                input.field.default.small-height.block(type="text")
                        .row.mtb-1
                            .col-6
                                span.field__tag.normal-w Otros cargos
                            .col-6
                                input.field.default.small-height.block(type="text")
                        .row.mtb-1
                            .col-6
                                span.field__tag.normal-w Descuento total (-)
                            .col-6
                                input.field.default.small-height.block(type="text")
                        .row.mtb-1
                            .col-6
                                span.field__tag TOTAL
                            .col-6
                                input.field.default.small-height.block(type="text")

block scripts
    script(src="./js/boleta.js")