extends ./template/config/main-layout

append config
    -var currentPage = "boleta"

block content
    form(method="POST", action="/invoice/issue" name="form")
        .tab
            .tab__top
                span.tab__title EMITIR BOLETA ELECTRÓNICA
            .tab__content
                .container-fluid
                    .row.mb-1
                        .col-md-2
                            .field__tag Número de RUC
                        .col-md-3
                            input.field.bordered.block(type="text", name="numero-documento")
                        .col-md-3
                            label.field__label.horizontal
                                .field__tag Serie
                                input.field.disabled(type="text", size="3" disabled="disabled", value="F001")
                                | &nbsp;
                                input.field.bordered(type="text", name="serie", size="12")
                        .col-md-2
                            .field__tag Fecha de vencimiento
                        .col-md-2
                            input.field.bordered(type="date", name="fecha-vencimiento")
                    
                    .row.mb-1
                        .col-md-2
                            .field__tag Razón social
                        .col-md-3
                            input.field.bordered.block(type="text", name="razon-social")
                        .col-md-2.offset-md-3
                            .field__tag Fecha de emisión
                        .col-md-2
                            input.field.bordered(type="date", name="fecha-emision")
                        
                    .row
                        .col-md-8
                            .select.select-field.inline(data-default="Tipo de moneda")
                                .select__selected.select-field__selected
                                input.select__hidden(type="hidden", name="tipo-moneda")
                                .select__list.select-field__list
                                    .select__item.select-field__item(data-value="1") Soles (S/.)
                                    .select__item.select-field__item(data-value="2") Dólares ($)
                                    .select__item.select-field__item(data-value="3") Euros (&euro;)
                            
                            .select.select-field.inline(data-default="Tipo de factura")
                                .select__selected.select-field__selected Tipo de factura
                                input.select__hidden(type="hidden", name="tipo-factura")
                                .select__list.select-field__list
                                    .select__item.select-field__item(data-value="1") Bien
                                    .select__item.select-field__item(data-value="2") Servicio
                            
                            .select.select-field.inline(data-default="Establecimiento emisor")
                                .select__selected.select-field__selected Establecimiento emisor
                                input.select__hidden(type="hidden", name="establecimiento-emisor")
                                .select__list.select-field__list
                                    .select__item.select-field__item(data-value="1") establecimiento 1
                                    .select__item.select-field__item(data-value="2") establecimiento 2
                            
                        .col-md-2.flex-center
                            .field__tag Pagado
                            label.switch
                                input.switch__checkbox(type="checkbox", name="pagado", value="on")
                                input(type="hidden", name="_pagado")
                                span.slider.round
                        .col-md-2.flex-center
                            .field__tag Detracción
                            label.switch
                                input.switch__checkbox(type="checkbox", name="detraccion", value="on")
                                input(type="hidden", name="_detraccion")
                                span.slider.round

        .row.mt-1
            .col-12
                button.btn.alt.float-right.new-product-row
                    img.btn__icon(src="./img/buttons/plus-button.svg")
                    | Añadir Producto/Servicio

        .tab.mt-1
            .tab__content.tab__content--alternative
                .container-fluid
                    .row
                        //- .table-responsive
                        table.table
                            thead
                                tr
                                    td.min-w: span.field__tag Bien/Servicio
                                    td: span.field__tag U. de medida
                                    td.min-w: span.field__tag Descripción
                                    td: span.field__tag Código
                                    td: span.field__tag Tipo de IGV
                                    td: span.field__tag Valor Unit.
                                    td: span.field__tag IGV
                                    td: span.field__tag Total
                                    td
                            tbody
                            - for(i = 0; i < 3; i++) {
                                tr
                                    td: input(type="text", name="servicio-" + (i + 1)).field.default.block
                                    td
                                        .select.select-default.block(data-default="Seleccionar", data-value="")
                                                .select__selected.select-default__selected
                                                input.select__hidden(type="hidden", name="unid-medida-" + (i + 1))
                                                .select__list.select-default__list
                                                    .select__item.select-default__item(data-value="1") Kg
                                                    .select__item.select-default__item(data-value="2") Mts
                                    td: input(type="text", name="description-" + (i + 1)).field.default.block
                                    td: input(type="text", name="cod-" + (i + 1)).field.default.block
                                    td
                                        .select.select-default.block(data-default="Seleccionar", data-value="")
                                                .select__selected.select-default__selected
                                                input.select__hidden(type="hidden", name="tipo-igv-" + (i + 1))
                                                .select__list.select-default__list
                                                    .select__item.select-default__item(data-value="1") Tipo 1
                                                    .select__item.select-default__item(data-value="2") Tipo 2
                                    td: input(type="text", name="valor-unit-" + (i + 1)).field.default.block
                                    td: input(type="text", name="igv-" + (i + 1)).field.default.block
                                    td: input(type="text", name="total-" + (i + 1)).field.default.block
                                    td: a.delete-product(href="#"): img.delete-product__icon(src="./img/trash.svg", alt="")
                            - }

        .row.mt-3
            .col-md-7
                .tab
                    .tab__content.tab__content--alternative
                        .container-fluid
                            .field__label.vertical
                                span.field__tag.mb-1 Añadir Observación
                                textarea.field.default.block.textarea(name="observacion")
                
                .row.mt-3
                    .col-12
                        a.btn.bordered(href="#") REGRESAR
                        //- input.btn.bordered(type="submit", value="REGRESAR")
                        | &nbsp;
                        a.btn.bordered(href="#") PREVISUALIZAR
                        //- input.btn.bordered(type="submit", value="PREVISUALIZAR")
                        | &nbsp;
                        input.btn.bordered(type="submit", value="GENERAR")
                
            .col-md-3.offset-md-2
                .tab
                    .tab__content.tab__content--alternative
                        .container-fluid
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w % Descuento
                                .col-6
                                    input.field.default.block(type="text", name="descuento")
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Anticipo (-)
                                .col-6
                                    input.field.default.small-height.block(type="text", name="anticipo")
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Exonerada
                                .col-6
                                    input.field.default.small-height.block(type="text", name="exonerada")
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Inafecta
                                .col-6
                                    input.field.default.small-height.block(type="text", name="inafecta")
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Gravada
                                .col-6
                                    input.field.default.small-height.block(type="text", name="gravada")
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w IGV
                                .col-6
                                    input.field.default.small-height.block(type="text", name="igv")
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Gratuita
                                .col-6
                                    input.field.default.small-height.block(type="text", name="gratuita")
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Otros cargos
                                .col-6
                                    input.field.default.small-height.block(type="text", name="otros-cargos")
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Descuento total (-)
                                .col-6
                                    input.field.default.small-height.block(type="text", name="descuento-total")
                            .row.mtb-1
                                .col-6
                                    span.field__tag TOTAL
                                .col-6
                                    input.field.default.small-height.block(type="text", name="total")