extends ./template/config/main-layout

append config
    -var currentPage = "factura"

block content
    include template/modules/preview-factura

    .alert.alert--success
        .alert__content
            p La factura 
                span.tag.to-clipboard#serie-factura-generada(title="Copiar") F001-0001
                |  ha sido generada con éxito, puedes hacer clic para  
                a.alert__link(href="#") descargarla en PDF
                | .
        
        .alert__close-btn
            img(src="img/close-response.png", title="Cerrar")

    form(method="POST", action="/invoice/issue" name="form")
        input(type="hidden", name="razon-social-local" value="NOMBRE DE EMPRESA S.A.C.")
        input(type="hidden", name="ruc-local", value="00000000000")
        input(type="hidden", name="direccion-local", value="AV. OSCAR BENAVIDES 1059. RESIDENCIAL LOS ALAMOS CERCADO-LIMA-LIMA")
        //- input(type="hidden", name="direccion")

        .tab
            .tab__top
                span.tab__title EMITIR FACTURA ELECTRÓNICA
            .tab__content
                .container-fluid
                    .row
                        //- RUC, Razón Social, Moneda, Factura
                        .col-md-4
                            .row.mtb-1
                                .col-md-5
                                    .field__tag Número de RUC
                                .col-md-7
                                    input.field.bordered.block(type="number", name="numero-documento", max="99999999999")
                                    .spinner: img(src="./img/spinner.webp")
                                    //- span.response.error Debe ingresar un número de RUC
                            .row.mtb-1
                                .col-md-5
                                    .field__tag Razón Social
                                .col-md-7
                                    input.field.bordered.block(type="text", name="razon-social")
                                    //- span.response.error Debe ingresar una razón social

                        //- Dirección, Moneda, factura
                        .col-md-4
                            .row.mtb-1
                                .col-md-5
                                    .field__tag Dirección
                                .col-md-7
                                        input.field.bordered.block(type="text", name="direccion")
                            .row.mtb-1
                                .col-md-5
                                    select.native-select.bordered(name="tipo-moneda")
                                        option(value="", disabled, selected) Moneda
                                        option(value="1") Soles (S/.)
                                        option(value="2") Dólares ($)
                                        option(value="3") Euros (&euro;)
                                    //- span.response.error Debe elegir un tipo de moneda

                                .col-md-7
                                    select.native-select.bordered(name="tipo-factura")
                                        option(value="", disabled, selected) Tipo de Factura
                                        option(value="1") Bien
                                        option(value="2") Servicio
                                    //- span.response.error Debe elegir un tipo de factura

                        //- Vencimiento, Emisión, Pagado y Detracción
                        .col-md-4
                            .row.mtb-1
                                .col-md-6
                                    .field__tag Fecha de emisión
                                .col-md-6
                                    input.field.bordered(type="date", name="fecha-emision")
                                    //- span.response.error Debe elegir la fecha de emisión
                            .row.mtb-1
                                .col-md-6
                                    .field__tag Fecha de vencimiento
                                .col-md-6
                                    input.field.bordered(type="date", name="fecha-vencimiento")
                                    //- span.response.error Debe elegir la fecha de vencimiento
                            .row.mtb-1
                                .col-md-6.flex-center
                                    .field__tag Pagado
                                    label.switch
                                        input.switch__checkbox(type="checkbox", name="pagado", value="on")
                                        input(type="hidden", name="_pagado")
                                        span.slider.round
                                .col-md-6.flex-center
                                    .field__tag Detracción
                                    label.switch
                                        input.switch__checkbox(type="checkbox", name="detraccion", value="on")
                                        input(type="hidden", name="_detraccion")
                                        span.slider.round

        .tab.mt-1
            .tab__content.tab__content--alternative.products-table-list
                .container-fluid
                    .row
                        //- .table-responsive
                        table.table#products-table
                            thead
                                tr
                                    //- td.min-w-180: span.field__tag.center Bien/Servicio
                                    td.w-50: span.field__tag.center Cantidad
                                    td.w-50: span.field__tag.center U. Medida
                                    td.min-w-180.w-100p: span.field__tag.center Descripción
                                    td.w-50: span.field__tag.center Código
                                    td.min-w-180: span.field__tag.center Tipo de IGV
                                    td.w-100: span.field__tag.center Valor Unit.
                                    td.w-100: span.field__tag.center Descuento
                                    td.w-100: span.field__tag.center IGV
                                    td.w-100: span.field__tag.center Importe
                                    td
                            tbody
                            - for(i = 0; i < 3; i++) {
                                tr
                                    //- td: input(type="text", name="servicio-" + (i + 1), value="hola").field.default.block
                                    td: input(type="number", name="cantidad-" + (i + 1), value="1", onkeyup="calcularValores(this)").field.default.block
                                    td
                                        input(type="text", name="unidMedida-" + (i + 1)).field.default.block
                                        //- select.native-select.default(name="unid-medida-" + (i + 1))
                                        //-     option(value="", disabled, selected) —
                                        //-     option(value="1") Kg
                                        //-     option(value="2") Mts
                                        //-     option(value="3") UND

                                    td: input(type="text", class="field-description" name="description-" + (i + 1), value="").field.default.block
                                    td: input(type="text", name="cod-" + (i + 1), value="").field.default.block
                                    td
                                        select.native-select.default(name="tipoIgv-" + (i + 1), onchange="calcularValores(this)")
                                            option(value="", disabled, selected) Seleccionar
                                            option(value="10") Gravado - Operación Onerosa
                                            option(value="11") Gravado – Retiro por premio
                                            option(value="12") Gravado – Retiro por donación
                                            option(value="13") Gravado – Retiro 
                                            option(value="14") Gravado – Retiro por publicidad
                                            option(value="15") Gravado – Bonificaciones
                                            option(value="16") Gravado – Retiro por entrega a trabajadores
                                            option(value="17") Gravado – IVAP
                                            option(value="20") Exonerado - Operación Onerosa
                                            option(value="21") Exonerado – Transferencia Gratuita
                                            option(value="30") Inafecto - Operación Onerosa
                                            option(value="31") Inafecto – Retiro por Bonificación
                                            option(value="32") Inafecto – Retiro
                                            option(value="33") Inafecto – Retiro por Muestras Médicas
                                            option(value="34") Inafecto - Retiro por Convenio Colectivo
                                            option(value="35") Inafecto – Retiro por premio
                                            option(value="36") Inafecto - Retiro por publicidad
                                            option(value="37") Exportación

                                    td: input(type="number", name="valorUnit-" + (i + 1), onkeyup="calcularValores(this)", placeholder="0").field.default.block
                                    td: input(type="number", name="descuento-" + (i + 1), onkeyup="calcularValores(this)", placeholder="0").field.default.block
                                    td: input(type="number", name="igv-" + (i + 1), value="0" disabled).field.default.block
                                    td: input(type="number", name="total-" + (i + 1), value="0" disabled).field.default.block
                                    td: a.delete-product(href="#"): img.delete-product__icon(src="./img/trash.svg", alt="")
                            - }
        
        .row.mt-1
            .col-12
                button.btn.alt.float-right.new-product-row(type="button")
                    img.btn__icon(src="./img/buttons/plus-button.svg")
                    | Añadir Producto/Servicio

        .row.mt-2
            .col-md-6
                .tab
                    .tab__content.tab__content--alternative
                        .container-fluid
                            .field__label.vertical
                                span.field__tag.mb-1 Información Adicional
                                textarea.field.default.block.textarea(name="observacion")
                
                .row.mt-3
                    .col-12
                        a.btn.bordered.alt(href="#") BORRADOR
                        //- input.btn.bordered(type="submit", value="REGRESAR")
                        | &nbsp;
                        a.btn.bordered.preview(href="#") PREVISUALIZAR
                        //- input.btn.bordered(type="submit", value="PREVISUALIZAR")
                        | &nbsp;
                        input.btn.bordered(type="submit", value="GENERAR")
            
            .col-md-3
                .tab
                    .tab__content.tab__content--alternative
                        .container-fluid
                            .field__label.vertical
                                span.field__tag.mb-1 Enviar por Email
                                textarea.field.default.block.textarea.textarea--striped(name="correos")
                
            .col-md-3
                .tab
                    .tab__content.tab__content--alternative
                        .container-fluid
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w % Descuento
                                .col-6
                                    input.field.default.block(type="number", name="descuento" value="0")
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Anticipo (-)
                                .col-6
                                    input.field.default.small-height.block(type="text", name="anticipo" value="0")
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Exonerada
                                .col-6
                                    input.field.default.small-height.block(type="number", name="exonerada", value="0", disabled)
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Inafecta
                                .col-6
                                    input.field.default.small-height.block(type="number", name="inafecta",value="0",  disabled)
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Gravada
                                .col-6
                                    input.field.default.small-height.block(type="number", name="gravada", value="0", disabled)
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w IGV
                                .col-6
                                    input.field.default.small-height.block(type="number", name="igv", value="0", disabled)
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Gratuita
                                .col-6
                                    input.field.default.small-height.block(type="number", name="gratuita", value="0", disabled)
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Otros cargos
                                .col-6
                                    input.field.default.small-height.block(type="text", name="otros-cargos", value="0")
                            .row.mtb-1
                                .col-6
                                    span.field__tag.normal-w Descuento total (-)
                                .col-6
                                    input.field.default.small-height.block(type="text", name="descuento-total", disabled, value="0")
                            .row.mtb-1
                                .col-6
                                    span.field__tag TOTAL
                                .col-6
                                    input.field.default.small-height.block(type="number", name="total", disabled, value="0")

block scripts
    script(src="js/factura.js")