extends ./template/config/main-layout

append config
    -var currentPage = "nota-debito"

block content
    .tab
        .tab__top
            span.tab__title EMITIR NOTA DE DÉBITO
        .tab__content
            .container.to-left
                form(action="index.html", method="POST")
                    .row
                        .col-md-3
                            select.native-select.bordered(name="tipo-nota")
                                option(value="", disabled, selected) Tipo de Nota de Débito
                                option(value="1") Factura
                                option(value="2") Boleta
                            
                        .col-md-4
                            label.field__label.horizontal
                                .field__tag Serie
                                input.field.disabled(type="text", size="3", name="serie-cod", disabled="disabled", value="—")
                                | &nbsp;
                                input.field.bordered(type="text", size="12", name="serie", value="")
                        
                        .col-md-2
                            button.btn.alt
                                img.btn__icon(src="./img/buttons/watch.png")
                                | Ver

                    .row.mtb-2
                        .col-md-7
                            label.field__label.vertical
                                .field__tag Motivo o sustento por el cual se emitirá la Nota de Crédito
                                textarea.field.bordered.block.textarea(name="")
                    
                    .row
                        .col-12
                            button.btn.bordered(type="button") PREVISUALIZAR
                            input.btn.bordered(type="submit", value="EMITIR")
                
block scripts
    script(src="js/nota-debito.js")