.main-header {
    display: flex;
    align-items: center;
    padding: 0 15px;

    height: 4rem;
    border-bottom: 1px solid $alt-c-d;

    &__logo {
        color: $main-c;
        font-weight: 700;
    }

    &__menu-btn {
        --size: 1.2rem;

        margin-left: 1em;
        width: var(--size);
        height: var(--size);
        cursor: pointer;
    }

    &.small {
        .main-header__menu-btn {
            margin-left: 0;
        }
    }
}