.label {
    &--inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: wrap;
        width: 100%;

        span {
            display: inline-block;
            margin-right: 1rem;

            font-size: 0.9rem;
            font-weight: 600;
        }

        .response {
            width: 100%;
        }

        input, select {
            flex: 1;
            // width: auto;
            // max-width: 100%;
        }
    }
}