.profile {
    
    &-avatar {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 10px;
        border-radius: 10px;
        overflow: hidden;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__label {
            --size: 5rem;
            width: var(--size);
            height: var(--size);
            background-color: $alt-bg;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.95;
            transition: all 0.2s;

            &:hover {
                opacity: 1;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            }
        }

        &__input {
            display: none;
        }

        &__upload-icon {
            --size: 2rem;
            width: var(--size);
            margin-bottom: 0.2rem;
        }

        &__upload-tag {
            color: #515974;
            font-size: 0.55rem;
        }
    }
}