.table {
    width: 100%;
    padding: 0 15px;

    thead {
        tr > td {
            text-align: center;
        }
    }

    // Helpers
    .w-50 {
        width: 50px;
    }
    .w-90 {
        width: 90px;
    }
    .w-110 {
        width: 110px;
    }
    .min-w-200 {
        min-width: 200px;
    }
    .w-280 {
        width: 280px;
    }
}

// Buscando donde poner esto
.delete-product {

    &__icon {
        --size: 1.2rem;
    
        width: var(--size);
        height: var(--size);
        margin-left: .2rem;
        opacity: 0.6;
        transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }
    }
}
//