.table {
    width: 100%;
    padding: 0 15px;
    border-spacing: 0;

    thead {
        tr > td {
            text-align: center;
        }
    }
}

.products-table-list {
    --max-products: 10;
    max-height: calc(var(--max-products)*2rem + 5rem);
    overflow-y: scroll;
}

// Buscando donde poner esto
.delete-product {

    &__icon {
        --size: 1.2rem;
    
        width: var(--size);
        height: var(--size);
        margin-left: .2rem;
        opacity: 0.6;
        transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }
    }
}
//